* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: 'Work Sans', sans-serif;
}

main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

img {
  width: 100px;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  padding: 15px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px ;
}

legend {
  font-weight: bold;
  font-size: 18px;
  padding: 0 5px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="tel"],input[type="file"]{
  margin-bottom: 0;
}

small{
  margin-bottom: 20px;
  display: inline-block;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
min-height: 100px;
}

input [type="radio"],
input [type="checkbox"] {
  width: auto;
}

input[type="color"] {
  padding: 0;
  height: 40px;
}

input[type="text"]:invalid,
  input[type="number"]:invalid
  {
    border-color: red;
  }

  input[type="text"]:valid,
  input[type="number"]:valid
  {
    border-color: green;
  }

  button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-right: 10px;
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 5px;
    list-style: none;
  }

a {
  text-decoration: none;
  color: #000;
}

  button[type="submit"]:hover {
    background-color: #4CAF50;
    color: white;
  }
  button[type="reset"]:hover {
    background-color: #f44336;
    color: white;
  }
