*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #0e1014;
  color: #FFFF;
}

header {
  display: block;
  margin: 75px 0 0 360px;
}



h1{
  font-size: 64px ;
  font-family:"BBH Bartle", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  font-weight: 100;
}

h1 span{
  color: #9747FF;
}

a{
  font-family: "Google Sans Code", monospace;
  color: #ffff;
  font-size: 24px;
  text-decoration: none;
  background-color: #9747FF;
  width: 340px;
  height: 66px;
  display: block;
  text-align: center;
  line-height: 66px ;
  border-radius: 36px;
  margin: 40px auto;
}

a:hover{
  background-color: #8233e8;
}

p{
  font-family: "Google Sans Code", monospace;
  font-size: 24px;
  text-align: center;
   font-weight: 400;
   width: 792px;
   margin: 24px auto;
}
  
section img{
  display: block;
  width: 792px;
  height: 446px;
  margin: 0 auto;
}

@media(max-width:768px){

  header{
    margin: 65px 0 0 60px;
  }
  
  p{
    width: 468px;
  }

}

@media(max-width:375px){

header{
  margin: 32px 0 0 16px
}

  h1{
  font-size: 40px;
  }

  p{
    font-size: 20px;
    width: 340px;
  }
  
  a{
    font-size: 20px;
    width: 251px;
  }

  section img { 
    width: 341px;
    height: 230px;
  }
}